# Python Basics
 * Variables
 * Data types
 * Operators

## Variables
  * Variables are placeholders for or handles to values in computer memory
  * Calling a variable by name returns its referenced value from memory

In [1]:
# set variable to a string value of "Hello World!"
message = "Hello World!"

# print the value of the variable
print(message)

Hello World!

In [2]:
# set variable a to a value of 1 (integer)
an_integer = 1

# print the value of the vaiable to the console by callin the variable by name
print(an_integer)

1

In [3]:
# set another variable to int value of to the value of the first times 2
another_integer = an_integer * 2

print(another_integer)

2

In [4]:
# set yet another integer to the value of the sum of our previous two integers
integer_sum = an_integer + another_integer

print(integer_sum)

3

In [5]:
# set variable to a float value of 1.3
a_float = 1.3

print(a_float)

1.3

## Data types
  * integer = 1
  * floats = 1.0
  * strings = ""

In [8]:
# Integer
i = 1
#can cast any number as an integer, but watch for unexpected results
i2 = int(2.5) # ingores all decimal point information
print("i =", i)
print("i2 =", i2, '\n')

i = 1
i2 = 2

In [13]:
# Float
f = 1.234

print("f =", f)
print("f * 1.23 =", f * 1.23, '\n')

f = 1.234
f * 1.23 = 1.51782

In [15]:
# Strings
# --------------------
# basic string with single quotes
ss = 'Hello World! Is the "default" message for a beginning application.' 
print(ss)
# double quotes require the \escape character to include double quotes in the string
sd = "Hello World!... Is the \"default\" message for a beginning application." 
print(sd)
# f-string (or formatted string)
sf = f"Hello World! i = {i}; f = {f}" 
sf

Hello World! Is the "default" message for a beginning application.
Hello World!...
Is the "default" message for a beginning application.

'Hello World! i = 1; f = 1.0'

In [72]:
# Lists - 1D array
l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14] # a 1x15 array... also example of zero indexing item addresses
print(f"l = {l}")

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [81]:
import random

l = [i for i in range(15)] # example using list comprehension
print(f"l = {l}")
lrandom = [random.randint(0,14) for i in range(15)]
print(f"lrandom = {lrandom}")

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
lrandom = [7, 1, 4, 11, 11, 12, 10, 12, 8, 0, 7, 0, 12, 0, 12]

In [71]:
l = [0] * 15 # using list * operator
print(f"l = {l}")
print(f"l[14] = {l[14]}")

l = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]
l = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
l[14] = 0

In [84]:
# 2d Lists
l2D = [[0]*15] *3 # using list * operator again
print(f"l2D = {l2D}")
l2D[2][14]
l2D[-1][-1] # last elements in each dimension

l2D_random = [[random.randint(0,14) for i in range(15)] for i in range(3)]
print("l2D_random = ")
l2D_random

l2D = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
l2D_random =

[[1, 11, 10, 11, 7, 6, 11, 4, 9, 8, 6, 7, 8, 10, 7],
 [0, 2, 11, 8, 10, 0, 0, 5, 3, 5, 12, 12, 6, 7, 5],
 [13, 13, 8, 1, 7, 6, 11, 11, 2, 14, 3, 6, 12, 11, 8]]

In [54]:
# Tuples
t = ((("first", "second") *2) * 4) * 2 # can only ever be one-dimensional
t

('first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second',
 'first',
 'second')

## Operators

In [95]:
# * multiplicative
print(f"1 * 2 = {1 * 2}")
print(f"2Dlist * 2 = {l2D * 2}")
print(f"(((('first', 'last')) * 2) *2) * 2) = {(((('first', 'last') * 2) *2) * 2)}")

1 * 2 = 2
2Dlist * 2 = [[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]]
(((('first', 'last')) * 2) *2) * 2) = ('first', 'last', 'first', 'last', 'first', 'last', 'first', 'last', 'first', 'last', 'first', 'last', 'first', 'last', 'first', 'last')

In [114]:
# + additive
print(f"1 + 2 = {1 + 2}")
#print(f"2Dlist + 2 = {l2D + 2}") # cannot concat int into lists
print(f"(((('first', 'last')) + (2,)) +(2,)) + (2,)) = {(((('first', 'last') + (2,)) +(2,)) + (2,))}")

1 + 2 = 3
(((('first', 'last')) + (2,)) +(2,)) + (2,)) = ('first', 'last', 2, 2, 2)

In [112]:
# / division (float)
print(f"float division 1 / 3 = {1 / 3}")

# // indiger division
print(f"integer division 1 // 3 = {1 // 3}")
days = 20
weeks = 20 // 7
print(f"days // 7  = {days // 7}")
print(f"days / 7  = {days / 7}")

float division 1 / 3 = 0.3333333333333333
integer division 1 // 3 = 0
days // 7  = 2
days / 7  = 2.857142857142857

In [111]:
# integer modulo operator
days_r = days % 7 # divides days by 7 and gives you the remainder
print(f"20 days = {weeks} weeks and {days_r} days")

20 days = 2 weeks and 6 days